<!-- Tournaments Index -->
<div id='tournaments_section' class='container'>
</div>
<!-- Tournaments Index -->

<!-- New Tournament Form -->
<div id='new_tournament_section' class='container'>
</div>
<!-- New Tournament Form -->
