<div class='panel'>
  <div class='panel-heading' id='new_tournament'>
    <a class='btn btn-lg btn-success' href='#' role='button'>
      New Tournament
    </a>
  </div>
</div>

<div id='tournaments' class='container'></div>
