html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 20px;

  .small {
    font-size: 16px;
  }
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;

  a:focus {
    outline: 0;
  }

  .navbar-nav {
    letter-spacing: 1px;

    li a:focus {
      outline: 0;
    }
  }
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background: #fff;
  padding: 100px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;

  .footer-below {
    padding: 25px 0;
    background-color: #233140;
  }
}

#new_tournament {
  text-align: center;
  a {
    padding: 14px 24px;
    font-size: 21px;
  }
}
