$bg_color : #5bc0de;

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 20px;

  .small {
    font-size: 16px;
  }
}

a,
a:focus,
a:active,
a.active {
  outline: 0;
}

a:hover {
  color: orange !important;
}

a.list-group-item {
  border: none;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.img-centered {
  margin: 0 auto;
}

.navbar {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;

  a:focus {
    outline: 0;
  }

  .navbar-brand {
    padding: 0;
    padding-top: 5px;
    font-size: 18px;
  }

  .navbar-nav {
    letter-spacing: 1px;

    li a:focus {
      outline: 0;
    }
  }
}

.navbar-default,
.navbar-inverse {
  background-color: $bg_color;
  border: 0;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  padding: 100px 0;
  margin-top: -20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;

  .footer-below {
    padding: 1px 0;
    background-color: $bg_color;
    font-size: 14px;
  }
}

.new-tournament-button {
  text-align: center;

  button {
    background-color: orange;
    border-color: orange;
    color: whitesmoke;
    padding: 14px 24px;
    font-size: 21px;
  }
}

.hidden {
  display: none;
}

.new_tournament_panel {
  width: 100%;
  margin: auto;

  .panel {
    width: 40%;
    height: auto;
    min-height: 150px;
    margin: auto;
    text-align: center;
    border-color: orange;

    .panel-heading {
      background-color: orange;
      border-color: orange;

      .panel-title {
        color: whitesmoke;
      }
    }

    .panel-body {
      padding-top: 5px;

      .row {
        margin: 15px 0 0 0;
      }
    }
  }
}

.player {
  height: 100px;
  width: 100px;

  a:hover {
    cursor: move;
    border-color: orange;
  }
}

// .player-hover {
//   a:hover {
//     cursor: move;
//     border-color: orange;
//   }
// }

.build-teams-button {
  text-align: center;
  margin-bottom: 20px;

  button {
    background-color: orange;
    border-color: orange;
    color: whitesmoke;
    padding: 14px 24px;
    font-size: 18px;
  }
}
