$bg_color : #5bc0de;

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

p {
  font-size: 20px;

  .small {
    font-size: 16px;
  }
}

a,
a:focus,
a:active,
a.active {
  outline: 0;
}

a:hover {
  color: orange !important;
}

a.list-group-item {
  border: none;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.img-centered {
  margin: 0 auto;
}

.navbar {
  text-transform: uppercase;
  font-family: "Comic Sans MS", cursive, sans-serif !important;

  a:focus {
    outline: 0;
  }

  .navbar-brand {
    padding: 0;
    padding-top: 5px;
    font-size: 18px;

    .logo-text {
      font-weight: bold;
    }
  }

  .navbar-nav {
    letter-spacing: 1px;

    li a:focus {
      outline: 0;
    }
  }
}

.navbar-default,
.navbar-inverse {
  background-color: $bg_color;
  border: 0;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  padding: 100px 0;
  margin-top: -20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;

  .footer-below {
    padding: 1px 0;
    background-color: $bg_color;
    font-size: 14px;
  }
}

.create-tournament-button,
.new-tournament-button {
  text-align: center;

  button {
    background-color: orange;
    border-color: orange;
    color: whitesmoke;
    padding: 14px 24px;
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.new_tournament_panel {
  width: 100%;
  margin: auto;

  .panel {
    width: 40%;
    height: auto;
    min-height: 150px;
    margin: auto;
    text-align: center;
    border-color: orange;

    .panel-heading {
      background-color: orange;
      border-color: orange;

      .panel-title {
        color: whitesmoke;
      }
    }

    .panel-body {
      padding-top: 5px;

      .row {
        margin: 15px 0 0 0;
      }
    }
  }
}

.show_tournament_panel {
  width: 100%;
  margin: auto;

  .teams-list,
  .team-schedule {
    width: 40%;
    height: auto;
    min-height: 150px;
    margin: auto;
    border-color: orange;
    text-align: center;

    .panel-heading {
      background-color: orange;
      border-color: orange;

      .panel-title {
        color: whitesmoke;
      }
    }

    ul {
      margin-bottom: 0;

      li:first-child {
        border-top: none;
      }

      li:last-child {
        border-bottom: none;
      }

      li {
        padding-left: 0;
        border-left: none;
        border-right: none;

        .game-number {
          margin-left: 10px;
        }

        .versus {
          font-weight: bold;
          text-decoration: underline;
          color: $bg_color;
        }

        .team-name {
          margin: 0 15px 0 15px;
        }
      }
    }
  }
}

.player {
  height: 100px;
  width: 100px;

  span:hover {
    cursor: move;
    border-color: orange;
  }
}

.finish-tournament-button,
.create-teams-button {
  text-align: center;

  button {
    color: whitesmoke;
    padding: 14px 24px;
    font-size: 18px;
  }
}

.disabled {
  background-color: gray;
  border-color: gray;
}

.enabled {
  background-color: orange;
  border-color: orange;
}

.team-name {
  text-align: center;
}

.teams-row {
  width: 80%;
  margin: auto;

  .team {
    width: 33.333333%;
  }

  .team:nth-child(1) {
    margin-right: 33.333333%;
  }
}

.thumbnail {
  text-align: center;
}

.mb-10 {
  margin-bottom: 10px;
}

.player-name {
  font-size: 10px;
}

.copy-to-clipboard {
  font-size: 12px;

  #copyTeams {
    border-radius: 2px;
    background-color: #fff;
    text-decoration: none;
    color: orange;
    padding: 2px;
  }

  .hover {
    color: white !important;
    background-color: $bg_color !important;
  }
}
